.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(120deg, #6175e6, #1a237e);
}

.login-card {
  width: 400px;
  padding: 20px;
  text-align: center;
  background-color: white;

  h2 {
    margin-bottom: 20px;
  }

  .full-width {
    width: 100%;
    margin-bottom: 15px;
  }
}

